
.product-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.product {
  text-align: center;
  border: 1px solid #f1efef;
  padding-top: 20px;
  border-radius: 8px;
  transition: box-shadow 0.15s, opacity 0.20s;
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.product img:hover {
  box-shadow: 5px 5px 15px rgba(31, 30, 87, 0.7);
  transform: scale(1.05);

}

.product img:active {
  opacity: 0.4;
  transform: scale(0.95);
}

.button-pad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.item-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
